body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #D26B6C;
}

#main {
  width: 500px;
  margin: auto;
  padding: 30px;
  background: #ffffff;
  border: 3px solid #540002;
  border-top: 0;
  border-bottom: 0;
  height: 100%;
}

a { 
  color: #540002;
  text-decoration: none;
}

header > h1 {
  margin: 5px 0; 
}

header > h2 {
  font-size: 75%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul span {
  font-size: 75%;
  color: #689999;
}

ul li:first-child {
  border-top: 0;
}

ul li {
  margin: 0;
  padding: 0;
  border-top: 1px solid #7E1618;
}

ul li a {
  width: 96%;
  display: inline-block;
  padding: 2%;
}

ul li a:hover {
  background: #FDAAAB; 
}

label {
  display: inline-block;
  width: 90px;
}

input {
  display: inline-block;
  width: 300px;
  border: 1px solid #540002;
  padding: 5px;
}

.actions {
  background: #D26B6C;
}

.actions a {
  display: inline-block;
  padding: 5px;
}

.actions a:hover {
  background: #FDAAAB;
}
